{% extends 'instaapp/base.html'%}
{% block content %}
    <div class="content-section">
        <div class="container">
            {% if messages %} {% for i in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{i.message}}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            {% endfor %} {% endif %}
            <h1 class="text-center bg-dark text-light">Login</h1>
            <form method="POST" action="">
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  name="username"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  name="password"
                />
              </div>
              <div>
                <small class="text-muted ml-2">
                    <a href="#">Forgot Password?</a>
                </small>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}