{% extends 'instaapp/base.html'%}
{% block content %}
{% comment %} {% if profile_of_user %}
<div class="container">
  <div class="d-flex header justify-content-around align-items-center my-3">
    <img src="{{profile.photo.url}}" width="22" height="22" class="rounded-circle" alt="..." style="width: 55px; height: 55px"/>
    <div class="d-flex justify-content-around align-items-center" style="width: 50vw">
      <div class="d-flex flex-column">
        <h5>Posts</h5>
        <h5>{{posts_num}}</h5>
      </div>
      <div class="d-flex flex-column">
        <h5>Followers</h5>
        <h5>{{profile.followers.count}}</h5>
      </div>
      <div class="d-flex flex-column">
        <h5>Following</h5>
        <h5>{{profile.followings.count}}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    {% for post in posts %}

    <div class="col-sm m-3">
      <div class="card" style="width: 18rem">
        <img src="{{post.image.url}}" class="card-img-top" alt="..." />
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %} {% endcomment %}
<div class="container">
  <div class="d-flex header justify-content-around align-items-center my-3">
    <img src="{{profile.photo.url}}" width="22" height="22" class="rounded-circle" alt="..." style="width: 55px; height: 55px"/>
    <div class="d-flex justify-content-around align-items-center" style="width: 50vw">
      <div class="d-flex flex-column">
        <h5>Posts</h5>
        <h5>{{posts_num}}</h5>
      </div>
      <div class="d-flex flex-column">
        <h5>Followers</h5>
        <h5>{{profile.followers.count}}</h5>
      </div>
      <div class="d-flex flex-column">
        <h5>Following</h5>
        <h5>{{profile.followings.count}}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    {% for post in posts %}

    <div class="col-sm m-3">
      <div class="card" style="width: 18rem">
        <img src="{{post.image.url}}" class="card-img-top" alt="..." />
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% comment %} {% endif %} {% endcomment %}
{% endblock %}