{% extends 'instaapp/base.html'%}
{% block content %}
<main>
    <div class="container">
      <div class="card">
        <!-- USER POSTS STARTS HERE -->
        {% for profile in profiles %} {% if user in profile.followers.all %}
        <div class="row">
          <div class="column-sm">
            <img src="{{profile.photo.url}}" alt="" width="22" height="22" class="rounded-circle" style="width: 55px; height: 55px"/>
            <a href="/profile/{{profile.id}}">
              <h4 id="post_user" style="font-weight: 900">
                {{profile.user}}
              </h4>
            </a>
          </div>

          <div class="lower">
            <a
              href="/follow/{{profile.id}}/{{username}}"
              class="text-center btn btn-danger text-dark"
              id="like"
            >
              unfollow
            </a>
          </div>
        </div>
        {% else %}
        <div id="card row">
          <div id="column">
            <img src="{{profile.photo.url}}" alt="" width="22" height="22" class="rounded-circle" style="width: 55px; height: 55px"/>
            <a href="/profile/{{profile.id}}">
              <h4 id="post_user" style="font-weight: 900">
                {{profile.user}}
              </h4>
            </a>
          </div>

          <div class="lower">
            <a
              href="/follow/{{profile.id}}/{{username}}"
              class="text-center btn btn-success"
              id="like"
            >
              Follow
            </a>
          </div>
        </div>
        {% endif %} {% endfor %}
        <!-- USER POST ENDS HERE -->
      </div>
    </div>
  </main>
{% endblock %}